# --------------------------------------------------------
# Non-sensitive environment variables, exposed in browser:
# --------------------------------------------------------
# For absolute paths:
NEXT_PUBLIC_BASE_URL='http://localhost:8000'
# gundb relay peers, separated by commas
NEXT_PUBLIC_GUN_PEERS='http://localhost:8765/gun'
# gundb app public key, ie `pub` value in APP_ACCESS_KEY_PAIR
NEXT_PUBLIC_GUN_APP_PUBLIC_KEY=''
# For setting up email forwarding
NEXT_PUBLIC_FORWARD_EMAIL_DOMAIN='@contact.vouch.agency'
# Magic API key for passwordless logins
NEXT_PUBLIC_MAGIC_API_KEY='pk_abc123'
# --------------------------------------------------------
# Sensitive env variables that should only be used on the server:
# --------------------------------------------------------
# gundb app key pair, generated with:
#  yarn generate-app-key
# care should be taken not to leak this as it provides app access
APP_ACCESS_KEY_PAIR='LONG_SECRET_JSON_STRING'
# A long, secret value used to encrypt the JWT
# Generate with:
#  node -e "console.log(crypto.randomBytes(32).toString('hex'))"
# This should be the same value in both the Nextjs & gun server apps
APP_ACCESS_TOKEN_SECRET='LONG_RANDOM_VALUE'
# A long, secret value used to encrypt public gun DB values
#  node -e "console.log(crypto.randomBytes(16).toString('hex'))"
APP_ENCRYPTION_SECRET='LONG_RANDOM_VALUE'
# A long, secret value used to encrypt the invites
#  node -e "console.log(crypto.randomBytes(16).toString('hex'))"
INVITE_SECRET='LONG_RANDOM_VALUE'
# A long, secret value used to encrypt session cookies
#  node -e "console.log(crypto.randomBytes(32).toString('hex'))"
SESSION_COOKIE_SECRET='LONG_RANDOM_VALUE'
# Name for the session cookie
SESSION_COOKIE_NAME='va_dev'
# Random path name to access secret join/signup page
# This page should be used sparingly and probably disabled
# once there's a few initial users, since it bypasses checks
ADMIN_JOIN_PATH='not-a-secret'
# "admin" user name, i.e. the very first user in the system
# This user is implicitly responsible for/"vouches" for all
# users that join using the secret signup page
ADMIN_USERNAME='not-a-user'
# For setting up email forwarding
FORWARD_EMAIL_API_KEY='FORWARD_EMAIL_API_KEY'
# https://web3.storage/tokens/
WEB3_STORAGE_API_TOKEN='WEB3_STORAGE_API_TOKEN'
# Magic secret key for passwordless logins
MAGIC_SECRET_KEY='sk_abc123'
