# gundb app key pair, generated with:
#  yarn generate-app-key
# care should be taken not to leak this as it provides app access
APP_ACCESS_KEY_PAIR='LONG_SECRET_JSON_STRING'
# A long, secret value used to encrypt the JWT
# generate with:
#  node -e "console.log(crypto.randomBytes(32).toString('hex'))"
# This should be the same value in both the Nextjs & gun server apps
APP_ACCESS_TOKEN_SECRET='LONG_RANDOM_VALUE'
# List of origins to allow, separated by commas
CORS_ALLOW_LIST='https://example.com,https://example2.com'
# Additional gun peer URLs, separated by commas
GUN_PEERS='https://GUN_PEER_1/gun,https://GUN_PEER_2/gun'
